*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  header{
    background-color:green;
    height:7rem;
  }

  .grid-container{
    display:grid;
    grid-template-areas: "header header header header"
    "aside nav nav nav"
    "aside main main main"
    "footer footer footer footer";
    grid-gap:20px;
  }
  header{
    height:7rem;
    grid-area: header;
    background-color: black;
    color: white;
  }
  aside{
    height:1 fr;
    grid-area: aside;
    background-color: orange;
    color: white;
  }
  nav{
    height:15rem;
    grid-area: nav;
    background-color: rgb(186, 162, 117);
    color: white;
  }
  main{
    height:15rem;
    grid-area: main;
    background-color: rgb(160, 155, 147);
    color: white;
  }
  footer{
    height:7rem;
    grid-area: footer;
    background-color: rgb(18, 17, 15);
    color: rgba(255, 255, 255, 0.801);
  }
  @media screen and (max-width:768px){
    body{
        display:grid;
        grid-template-rows:1fr 2fr 3fr;
        grid-template-columns:5fr;
        height: 300px;
        text-align: center;
    }
    header,main,nav,footer{
        grid-column-start:1;
        grid-column-end:4;
    }
    aside{
        height:0;
    
    }
    
  }